doctype html
html(lang="en")
  head
    title CV Joaquin Oltra
    link(type="text/css", rel="stylesheet", media="all", href="resume.css")
  body
    header
      h1 CV of Joaquin Oltra
      a(href="http://chimeces.com/resume/") Web
      a(href="http://chimeces.com/resume/resume.pdf") PDF
      a(href="http://github.com/joakin/resume") Source

    #container
      block content

    footer
      p
        :markdown
          This resume was generated from YAML, JADE, HTML and CSS using Node.js
          and is open source.

          To learn more visit the online version at
          [chimeces.com/resume](http://chimeces.com/resume/) or check the
          underlying source at the [GitHub
          repo](http://github.com/joakin/resume).
