<!DOCTYPE html>
<html lang="en">
  <head>
    <title>CV Joaquin Oltra</title>
    <link
      href="https://fonts.googleapis.com/css?family=Playfair+Display|Libre+Franklin"
      rel="stylesheet"
    />
    <link type="text/css" rel="stylesheet" media="all" href="normalize.css" />
    <link type="text/css" rel="stylesheet" media="all" href="resume.css" />
    <script>
      if (window.matchMedia) {
        var printMediaQuery = window.matchMedia("print");
        printMediaQuery.addListener(function(mql) {
          if (mql.matches) {
            beforePrint();
          } else {
            afterPrint();
          }
        });
      } else {
        // IE, Firefox
        window.onbeforeprint = openDetails;
        window.onafterprint = closeDetails;
      }

      function openDetails() {
        Array.from(document.querySelectorAll("details")).forEach(e =>
          e.toggleAttribute("open")
        );
      }
      function closeDetails() {
        Array.from(document.querySelectorAll("details")).forEach(e =>
          e.removeAttribute("open")
        );
      }
    </script>
  </head>
  <body>
    <header>
      <a href="http://chimeces.com/resume/">Web</a>
      ·
      <a href="http://chimeces.com/resume/resume.pdf">PDF</a>
      ·
      <a href="http://github.com/joakin/resume">Source</a>
      ·
      <span>
        <a href="javascript:openDetails()">Open</a>
        /
        <a href="javascript:closeDetails()">Close</a>
        details
      </span>
    </header>
    <div id="container">
      <header class="main">
        <h1><%= fullName %></h1>
        <img src="<%= photo %>" class="photo" />
      </header>
      <section id="personal-information" class="personal-information">
        <header>
          <h2>Personal information</h2>
        </header>
        <article>
          <div class="kv phone">
            <label>Phone</label>
            <span><%= phone %></span>
          </div>
          <div class="kv email">
            <label>Email</label>
            <span><%= email %></span>
          </div>
          <div class="kv nationality">
            <label>Nationality</label>
            <span><%= nationality %></span>
          </div>
          <div class="kv age">
            <label>Age</label>
            <span><%= (new Date()).getFullYear() - 1985 %></span>
          </div>
        </article>
      </section>
      <section id="current-situation" class="current-situation">
        <header>
          <h2>Summary</h2>
        </header>
        <article>
          <div class="kv">
            <label>Field</label>
            <span><%= field %></span>
          </div>
        </article>
        <article>
          <%- md(intro) %>
        </article>
      </section>
      <section id="work-experience" class="work-experience">
        <header>
          <h2>Work experience</h2>
        </header>

        <% work.forEach(function(job) { %>
        <article
          id="<%= `${job.employer}-${job.when}-${job.position}`.replace(/ /g, '_') %>"
        >
          <header class="header-3el">
            <div class="employer"><%= job.employer %></div>
            <div class="position"><%= job.position %></div>
            <div class="date"><%= job.when %></div>
          </header>
          <div class="body">
            <%- md(job.what) %> <% if (job.details) { %>
            <details>
              <summary>Details</summary>
              <%- md(job.details) %>
            </details>
            <% } %>
          </div>
        </article>
        <% }); %>
      </section>
      <section id="education" class="education">
        <header>
          <h2>Education</h2>
        </header>
        <article class="header-3el">
          <div class="from"><%= edu.who %></div>
          <div class="title"><%= edu.what %></div>
          <div class="date"><%= edu.when %></div>
        </article>
      </section>
      <section id="side-projects" class="side-projects">
        <header>
          <h2>Side projects</h2>
        </header>
        <p>
          Here is a sample of some of the most recent or notable side projects
          and open source efforts.
        </p>
        <% sideprojects.forEach(function(project) { %>
        <article
          id="<%= `${project.type}-${project.link}-${project.name}`.replace(/ /g, '_') %>"
        >
          <header class="header-3el">
            <div class="type"><%= project.type %></div>
            <div class="name"><%= project.name %></div>
            <div class="link"><a href="<%= project.link %>">🔗</a></div>
          </header>
          <div class="body">
            <%- md(project.what) %> <% if (project.details) { %>
            <details>
              <summary>Details</summary>
              <%- md(project.details) %>
            </details>
            <% } %>
          </div>
        </article>
        <% }); %>
      </section>
      <section id="skills" class="skills">
        <header>
          <h2>Skills</h2>
        </header>
        <article id="languages" class="languages">
          <header>
            <h3>Languages</h3>
          </header>
          <% skills.languages.forEach(function(lang) { %>
          <div class="header-3el">
            <div class="name"><%= lang.which %></div>
            <div class="level"><%= lang.level %></div>
            <% if (lang.titles) { %>
            <div>
              <% lang.titles.forEach(function(title) { %> <%= title %><br />
              <% }); %>
            </div>
            <% } %>
          </div>
          <% }); %>
        </article>
        <article id="tech" class="tech">
          <header>
            <h3>Technical skills</h3>
          </header>
          <div class="table">
            <div class="table-headers">
              <div></div>
              <div><span>Aware</span><span>basic knowledge</span></div>
              <div><span>Novice</span><span>limited experience</span></div>
              <div>
                <span>Intermediate</span><span>practical application</span>
              </div>
              <div><span>Advanced</span><span>applied theory</span></div>
              <div><span>Expert</span><span>recognized authority</span></div>
            </div>
            <% skills.tech.forEach(function(skill) { %>
            <h4><%= skill.text %></h4>
            <% if (skill.children) { %> <%
            skill.children.forEach(function(subSkill) { %>
            <div class="tech-row">
              <div class="name"><%= subSkill.name %></div>
              <div class="level">
                <div
                  class="level-line"
                  style="--level: <%= subSkill.level %>"
                ></div>
              </div>
            </div>
            <% }); %> <% } %> <% }); %>
          </div>
        </article>
        <article id="art" class="art">
          <header>
            <h3>Artistic skills</h3>
          </header>
          <ul>
            <% skills.art.forEach(function(skill) { %>
            <li class="name"><%= skill %></li>
            <% }); %>
          </ul>
        </article>
      </section>
      <section id="other" class="other">
        <header>
          <h2>Additional information</h2>
        </header>
        <article>
          <p class="car"><%= other.car %></p>
          <p class="remote"><%= other.remote %></p>
        </article>
      </section>
    </div>
    <footer>
      <p>
        This resume was generated from YAML, HTML, JS and CSS using Node.js and
        is open source.
      </p>
      <p>
        To learn more visit the online version at
        <a href="http://chimeces.com/resume/">chimeces.com/resume</a> or check
        the underlying source at the
        <a href="http://github.com/joakin/resume">GitHub repo</a>.
      </p>
    </footer>
  </body>
</html>
